<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if pageTitle %}{{ pageTitle }}{% elif page.url == "/" %}Alesh Houdek{% elif title %}{{ title }} | Alesh Houdek{% else %}Alesh Houdek{% endif %}</title>
    <link rel="stylesheet" href="/assets/site.css">
    <script type="module" src="/assets/app.js"></script>
  </head>
  <body id="projects">
    <a class="site-header-link" href="/">
      <header class="site-header">
        <h1>Alesh Houdek</h1>
      </header>
    </a>

    <div class="chrome-top">&nbsp;</div>
    <div class="chrome-bottom">
      {% footer %}
    </div>

    <div class="site-content">
      <div class="content-center">
        <main class="{% if hideMainTitle %}hide-main-title{% endif %}">
          {{ content | safe }}
          {% if showCircleLinks %}{% circleLinks %}{% endif %}
        </main>
      </div>
    </div>
  </body>
</html>
